.header {
	font-family: "TrueMedium", Helvetica, Arial, sans-serif;
	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	font-size: 1.35rem;
	letter-spacing: 1px;
	z-index: 101; }

.header [aria-labelledby] {
	opacity: 0; }

.header [aria-labelledby][role="tabpanel"] {
	opacity: 1; }

.header [aria-labelledby].dropdown--css-animation,
.header [aria-labelledby].dropdown--jquery-slide {
	opacity: 1; }

.header--abs-top, .header--abs-bottom, .header--abs-top-2nd-screen {
	position: absolute; }

.header--abs-top-2nd-screen {
	top: 100%;
	bottom: auto; }

.header--abs-top {
	top: 0;
	bottom: auto; }

.header--abs-bottom {
	top: auto;
	bottom: 0; }

.header--abs-bottom .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: .125rem; }

.header--sticky-top, .header--sticky-bottom {
	position: fixed; }

.header--sticky-top {
	bottom: auto;
	top: 0; }

.header--sticky-bottom {
	top: auto;
	bottom: 0; }

.header--sticky-bottom .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: .125rem; }

.header--invisible {
	display: none; }

.header--moved-up {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0); }

.header--faded {
	opacity: 0;
	visibility: hidden; }

.header--untransitioned {
	transition: none !important; }

.header__section--hidden {
	position: relative; }

.header--floating {
	position: absolute;
	left: 0;
	right: 0; }

.header--floating.js-header-fix-moment {
	margin-top: 0 !important; }

.header--floating.js-header-fix-moment .navbar {
	padding-left: 0;
	padding-right: 0; }

.header[data-header-fix-effect] {
	transition: .3s ease; }

.header-reduced--shift.js-header-change-moment {
	padding-top: 0 !important;
	padding-bottom: 0 !important; }

.header.js-header-fix-moment {
	position: fixed;
	top: 0;
	bottom: auto; }

.header__section {
	position: relative;
	z-index: 1; }

.header__section:nth-child(1) {
	z-index: 5; }

.header__section:nth-child(2) {
	z-index: 4; }

.header__section:nth-child(3) {
	z-index: 3; }

.header__section:nth-child(4) {
	z-index: 2; }

.header__section:nth-child(5) {
	z-index: 1; }

.header__sections-container {
	position: relative;
	z-index: 2; }

.header__logo {
	position: relative;
	z-index: 1; }

.header__logo-img {
	top: 0;
	left: 0;
	/*transition: .3s ease;*/ }

.header__logo-img:not(.header__logo-img--main) {
	position: absolute;
	opacity: 0; }

.dropdown-menu.dropdown--reverse-position {
	left: auto;
	right: 0; }

.js-header-change-moment.g-bg-white--shift {
	background-color: #fff; }

.js-header-change-moment.g-bg-light-semi-transparent--shift {
	background-color: rgba(255, 255, 255, 0.9); }

.js-header-change-moment.g-bg-black--shift {
	background-color: #000; }

.js-header-change-moment.g-bg-dark-semi-transparent--shift {
	background-color: rgba(0, 0, 0, 0.9); }

.js-header-change-moment.g-bg-primary--shift {
	background-color: #72c02c; }

.js-header-change-moment.g-bg-primary-semi-transparent--shift {
	background-color: rgba(114, 192, 44, 0.9); }

.header__section--light .navbar-brand,
.header__section--light .navbar-toggler,
.header__section--light--shift.js-header-change-moment .navbar-brand,
.header__section--light--shift.js-header-change-moment .navbar-toggler {
	color: #555555; }

.header__section--light .navbar-brand:focus,
.header__section--light .navbar-brand:hover,
.header__section--light .navbar-toggler:focus,
.header__section--light .navbar-toggler:hover,
.header__section--light--shift.js-header-change-moment .navbar-brand:focus,
.header__section--light--shift.js-header-change-moment .navbar-brand:hover,
.header__section--light--shift.js-header-change-moment .navbar-toggler:focus,
.header__section--light--shift.js-header-change-moment .navbar-toggler:hover {
	color: #555555; }

.header__section--light .navbar-nav:not([class*="main-nav-v"]) .nav-link,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link {
	color: #555555; }

.header__section--light .navbar-nav:not([class*="main-nav-v"]) .nav-link:focus,
.header__section--light .navbar-nav:not([class*="main-nav-v"]) .nav-link:hover,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link:focus,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link:hover {
	color: #555555; }

.header__section--light .navbar-nav:not([class*="main-nav-v"]) .nav-link.disabled,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.disabled {
	color: rgba(85, 85, 85, 0.5); }

.header__section--light .navbar-nav:not([class*="main-nav-v"]) .open > .nav-link,
.header__section--light .navbar-nav:not([class*="main-nav-v"]) .active > .nav-link,
.header__section--light .navbar-nav:not([class*="main-nav-v"]) .nav-link.open,
.header__section--light .navbar-nav:not([class*="main-nav-v"]) .nav-link.active,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .open > .nav-link,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .active > .nav-link,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.open,
.header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.active {
	color: #EC1C24; }

.header__section--light .navbar-nav:not([class*="main-nav-v"]) .nav-link:hover{
	color: #f7080a;
}

.header__section--light .navbar-toggler,
.header__section--light--shift.js-header-change-moment .navbar-toggler {
	border-color: rgba(85, 85, 85, 0.3); }

.header__section--light .navbar-toggler-icon,
.header__section--light--shift.js-header-change-moment .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba($g-color-main, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.header__section--light .navbar-text,
.header__section--light--shift.js-header-change-moment .navbar-text {
	color: rgba(85, 85, 85, 0.7); }

.header__section--dark .navbar-brand,
.header__section--dark .navbar-toggler,
.header__section--dark--shift.js-header-change-moment .navbar-brand,
.header__section--dark--shift.js-header-change-moment .navbar-toggler,
.header__section--primary .navbar-brand,
.header__section--primary .navbar-toggler,
.header__section--primary--shift.js-header-change-moment .navbar-brand,
.header__section--primary--shift.js-header-change-moment .navbar-toggler {
	color: #fff; }

.header__section--dark .navbar-brand:focus,
.header__section--dark .navbar-brand:hover,
.header__section--dark .navbar-toggler:focus,
.header__section--dark .navbar-toggler:hover,
.header__section--dark--shift.js-header-change-moment .navbar-brand:focus,
.header__section--dark--shift.js-header-change-moment .navbar-brand:hover,
.header__section--dark--shift.js-header-change-moment .navbar-toggler:focus,
.header__section--dark--shift.js-header-change-moment .navbar-toggler:hover,
.header__section--primary .navbar-brand:focus,
.header__section--primary .navbar-brand:hover,
.header__section--primary .navbar-toggler:focus,
.header__section--primary .navbar-toggler:hover,
.header__section--primary--shift.js-header-change-moment .navbar-brand:focus,
.header__section--primary--shift.js-header-change-moment .navbar-brand:hover,
.header__section--primary--shift.js-header-change-moment .navbar-toggler:focus,
.header__section--primary--shift.js-header-change-moment .navbar-toggler:hover {
	color: #fff; }

.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .nav-link,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .nav-link,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link {
	color: rgba(255, 255, 255, 0.8); }

.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .nav-link:focus,
.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .nav-link:hover,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link:focus,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link:hover,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .nav-link:focus,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .nav-link:hover,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link:focus,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link:hover {
	color: #fff; }

.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .nav-link.disabled,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.disabled,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .nav-link.disabled,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.disabled {
	color: rgba(255, 255, 255, 0.5); }

.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .open > .nav-link,
.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .active > .nav-link,
.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .nav-link.open,
.header__section--dark .navbar-nav:not([class*="main-nav-v"]) .nav-link.active,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .open > .nav-link,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .active > .nav-link,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.open,
.header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.active,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .open > .nav-link,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .active > .nav-link,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .nav-link.open,
.header__section--primary .navbar-nav:not([class*="main-nav-v"]) .nav-link.active,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .open > .nav-link,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .active > .nav-link,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.open,
.header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="main-nav-v"]) .nav-link.active {
	color: #fff; }

.header__section--dark .navbar-toggler,
.header__section--dark--shift.js-header-change-moment .navbar-toggler,
.header__section--primary .navbar-toggler,
.header__section--primary--shift.js-header-change-moment .navbar-toggler {
	border-color: rgba(255, 255, 255, 0.3); }

.header__section--dark .navbar-toggler-icon,
.header__section--dark--shift.js-header-change-moment .navbar-toggler-icon,
.header__section--primary .navbar-toggler-icon,
.header__section--primary--shift.js-header-change-moment .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba($g-color-white, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.header__section--dark .navbar-text,
.header__section--dark--shift.js-header-change-moment .navbar-text,
.header__section--primary .navbar-text,
.header__section--primary--shift.js-header-change-moment .navbar-text {
	color: rgba(255, 255, 255, 0.7); }

.navbar > .container {
	position: relative; }

@media all and (min-width: 576px) {
	.header--abs-top--sm, .header--abs-bottom--sm, .header--abs-top-2nd-screen--sm {
		position: absolute; }
	.header--abs-top-2nd-screen--sm {
		top: 100%; }
	.header--abs-top--sm {
		bottom: auto;
		top: 0; }
	.header--abs-bottom--sm {
		top: auto;
		bottom: 0; }
	.header--sticky-top--sm, .header--sticky-bottom--sm {
		position: fixed; }
	.header--sticky-top--sm {
		bottom: auto;
		top: 0; }
	.header--sticky-bottom--sm {
		top: auto;
		bottom: 0; }
	.header--floating--sm {
		position: absolute;
		left: 0;
		right: 0; }
	.header--floating--sm.js-header-fix-moment {
		margin-top: 0 !important; }
	.header--floating--sm.js-header-fix-moment .navbar {
		padding-left: 0;
		padding-right: 0; } }

@media all and (min-width: 768px) {
	.header--abs-top--md, .header--abs-bottom--md, .header--abs-top-2nd-screen--md {
		position: absolute; }
	.header--abs-top-2nd-screen--md {
		top: 100%; }
	.header--abs-top--md {
		bottom: auto;
		top: 0; }
	.header--abs-bottom--md {
		top: auto;
		bottom: 0; }
	.header--sticky-top--md, .header--sticky-bottom--md {
		position: fixed; }
	.header--sticky-top--md {
		bottom: auto;
		top: 0; }
	.header--sticky-bottom--md {
		top: auto;
		bottom: 0; }
	.header--floating--md {
		position: absolute;
		left: 0;
		right: 0; }
	.header--floating--md.js-header-fix-moment {
		margin-top: 0 !important; }
	.header--floating--md.js-header-fix-moment .navbar {
		padding-left: 0;
		padding-right: 0; } }

@media all and (min-width: 992px) {
	.header--abs-top--lg, .header--abs-bottom--lg, .header--abs-top-2nd-screen--lg {
		position: absolute; }
	.header--abs-top-2nd-screen--lg {
		top: 100%; }
	.header--abs-top--lg {
		bottom: auto;
		top: 0; }
	.header--abs-bottom--lg {
		top: auto;
		bottom: 0; }
	.header--sticky-top--lg, .header--sticky-bottom--lg {
		position: fixed; }
	.header--sticky-top--lg {
		bottom: auto;
		top: 0; }
	.header--sticky-bottom--lg {
		top: auto;
		bottom: 0; }
	.header--floating--lg {
		position: absolute;
		left: 0;
		right: 0; }
	.header--floating--lg.js-header-fix-moment {
		margin-top: 0 !important; }
	.header--floating--lg.js-header-fix-moment .navbar {
		padding-left: 0;
		padding-right: 0; } }

@media all and (min-width: 1200px) {
	.header--abs-top--xl, .header--abs-bottom--xl, .header--abs-top-2nd-screen--xl {
		position: absolute; }
	.header--abs-top-2nd-screen--xl {
		top: 100%; }
	.header--abs-top--xl {
		bottom: auto;
		top: 0; }
	.header--abs-bottom--xl {
		top: auto;
		bottom: 0; }
	.header--sticky-top--xl, .header--sticky-bottom--xl {
		position: fixed; }
	.header--sticky-top--xl {
		bottom: auto;
		top: 0; }
	.header--sticky-bottom--xl {
		top: auto;
		bottom: 0; }
	.header--floating--xl {
		position: absolute;
		left: 0;
		right: 0; }
	.header--floating--xl.js-header-fix-moment {
		margin-top: 0 !important; }
	.header--floating--xl.js-header-fix-moment .navbar {
		padding-left: 0;
		padding-right: 0; } }

@media all and (max-width: 1199px) {
	.navbar-expand-xl > .container,
	.navbar-expand-xl > .container-fluid {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start; }
	.navbar-expand-xl .navbar-collapse {
		width: 100%;
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10; } }

@media all and (max-width: 991px) {
	.navbar-expand-lg > .container,
	.navbar-expand-lg > .container-fluid {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start; }
	.navbar-expand-lg .navbar-collapse {
		width: 100%;
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10; } }

@media all and (max-width: 767px) {
	.navbar-expand-md > .container,
	.navbar-expand-md > .container-fluid {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start; }
	.navbar-expand-md .navbar-collapse {
		width: 100%;
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10; } }

@media all and (max-width: 575px) {
	.navbar-expand-sm > .container,
	.navbar-expand-sm > .container-fluid {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start; }
	.navbar-expand-sm .navbar-collapse {
		width: 100%;
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10; } }

/*------------------------------------
	Header Togglers
------------------------------------*/
.header-toggler {
	display: block;
	width: 5rem;
	height: 3.57143rem;
	z-index: 102;
	/* Hamburgers */ }

.header-toggler .hamburger {
	line-height: 1; }

/* Toggler Positioning */
@media all and (min-width: 0) {
	.header-toggler--top-right, .header-toggler--top-right.btn, .header-toggler--top-left, .header-toggler--top-left.btn, .header-toggler--bottom-right, .header-toggler--bottom-right.btn, .header-toggler--bottom-left, .header-toggler--bottom-left.btn {
		position: fixed; }
	.header-toggler--top-right, .header-toggler--top-right.btn, .header-toggler--top-left, .header-toggler--top-left.btn {
		top: 1.42857rem; }
	.header-toggler--bottom-right, .header-toggler--bottom-right.btn, .header-toggler--bottom-left, .header-toggler--bottom-left.btn {
		bottom: 1.42857rem; }
	.header-toggler--top-left, .header-toggler--bottom-left {
		left: 1.42857rem; }
	.header-toggler--top-right, .header-toggler--bottom-right {
		right: 1.42857rem; } }

/* Toggler Positioning (sm) */
@media all and (min-width: 576px) {
	.header-toggler--top-right--sm, .header-toggler--top-right--sm.btn, .header-toggler--top-left--sm, .header-toggler--top-left--sm.btn, .header-toggler--bottom-right--sm, .header-toggler--bottom-right--sm.btn, .header-toggler--bottom-left--sm, .header-toggler--bottom-left--sm.btn {
		position: fixed; }
	.header-toggler--top-right--sm, .header-toggler--top-right--sm.btn, .header-toggler--top-left--sm, .header-toggler--top-left--sm.btn {
		top: 1.42857rem; }
	.header-toggler--bottom-right--sm, .header-toggler--bottom-right--sm.btn, .header-toggler--bottom-left--sm, .header-toggler--bottom-left--sm.btn {
		bottom: 1.42857rem; }
	.header-toggler--top-left--sm, .header-toggler--bottom-left--sm {
		left: 1.42857rem; }
	.header-toggler--top-right--sm, .header-toggler--bottom-right--sm {
		right: 1.42857rem; } }

/* Toggler Positioning (md) */
@media all and (min-width: 768px) {
	.header-toggler--top-right--md, .header-toggler--top-right--md.btn, .header-toggler--top-left--md, .header-toggler--top-left--md.btn, .header-toggler--bottom-right--md, .header-toggler--bottom-right--md.btn, .header-toggler--bottom-left--md, .header-toggler--bottom-left--md.btn {
		position: fixed; }
	.header-toggler--top-right--md, .header-toggler--top-right--md.btn, .header-toggler--top-left--md, .header-toggler--top-left--md.btn {
		top: 1.42857rem; }
	.header-toggler--bottom-right--md, .header-toggler--bottom-right--md.btn, .header-toggler--bottom-left--md, .header-toggler--bottom-left--md.btn {
		bottom: 1.42857rem; }
	.header-toggler--top-left--md, .header-toggler--bottom-left--md {
		left: 1.42857rem; }
	.header-toggler--top-right--md, .header-toggler--bottom-right--md {
		right: 1.42857rem; } }

/* Toggler Positioning (lg) */
@media all and (min-width: 992px) {
	.header-toggler--top-right--lg, .header-toggler--top-right--lg.btn, .header-toggler--top-left--lg, .header-toggler--top-left--lg.btn, .header-toggler--bottom-right--lg, .header-toggler--bottom-right--lg.btn, .header-toggler--bottom-left--lg, .header-toggler--bottom-left--lg.btn {
		position: fixed; }
	.header-toggler--top-right--lg, .header-toggler--top-right--lg.btn, .header-toggler--top-left--lg, .header-toggler--top-left--lg.btn {
		top: 1.42857rem; }
	.header-toggler--bottom-right--lg, .header-toggler--bottom-right--lg.btn, .header-toggler--bottom-left--lg, .header-toggler--bottom-left--lg.btn {
		bottom: 1.42857rem; }
	.header-toggler--top-left--lg, .header-toggler--bottom-left--lg {
		left: 1.42857rem; }
	.header-toggler--top-right--lg, .header-toggler--bottom-right--lg {
		right: 1.42857rem; } }

/* Toggler Positioning (xl) */
@media all and (min-width: 1200px) {
	.header-toggler--top-right--xl, .header-toggler--top-right--xl.btn, .header-toggler--top-left--xl, .header-toggler--top-left--xl.btn, .header-toggler--bottom-right--xl, .header-toggler--bottom-right--xl.btn, .header-toggler--bottom-left--xl, .header-toggler--bottom-left--xl.btn {
		position: fixed; }
	.header-toggler--top-right--xl, .header-toggler--top-right--xl.btn, .header-toggler--top-left--xl, .header-toggler--top-left--xl.btn {
		top: 1.42857rem; }
	.header-toggler--bottom-right--xl, .header-toggler--bottom-right--xl.btn, .header-toggler--bottom-left--xl, .header-toggler--bottom-left--xl.btn {
		bottom: 1.42857rem; }
	.header-toggler--top-left--xl, .header-toggler--bottom-left--xl {
		left: 1.42857rem; }
	.header-toggler--top-right--xl, .header-toggler--bottom-right--xl {
		right: 1.42857rem; } }

/*------------------------------------
  Fullscreen Header
------------------------------------*/
[class*="header--fullscreen"] {
	text-align: center;
	visibility: hidden; }

[class*="header--fullscreen"] .header__sections-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s ease, visibility .5s ease; }

[class*="header--fullscreen"] .mCustomScrollBox {
	width: 100%;
	height: auto; }

[class*="header--fullscreen"] .header__section {
	width: 100%; }

[class*="header--fullscreen"] .navbar-nav[class*="main-nav-v"] > li > a {
	display: inline-block; }

[class*="header--fullscreen"] .header__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	opacity: 0;
	visibility: hidden;
	border-radius: 50%;
	transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease;
	transition: transform .5s ease, opacity .5s ease, visibility .5s ease;
	transition: transform .5s ease, opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease; }

.header.header--fullscreen--top-left, .header.header--fullscreen--top-right, .header.header--fullscreen--bottom-left, .header.header--fullscreen--bottom-right {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; }

.header.header--fullscreen--top-left .header__overlay, .header.header--fullscreen--top-right .header__overlay, .header.header--fullscreen--bottom-left .header__overlay, .header.header--fullscreen--bottom-right .header__overlay {
	display: block; }

.header.header--fullscreen--top-left.header--fullscreen-showed, .header.header--fullscreen--top-right.header--fullscreen-showed, .header.header--fullscreen--bottom-left.header--fullscreen-showed, .header.header--fullscreen--bottom-right.header--fullscreen-showed {
	visibility: visible; }

.header.header--fullscreen--top-left.header--fullscreen-showed .header__overlay,
.header.header--fullscreen--top-left.header--fullscreen-showed .header__sections-container, .header.header--fullscreen--top-right.header--fullscreen-showed .header__overlay,
.header.header--fullscreen--top-right.header--fullscreen-showed .header__sections-container, .header.header--fullscreen--bottom-left.header--fullscreen-showed .header__overlay,
.header.header--fullscreen--bottom-left.header--fullscreen-showed .header__sections-container, .header.header--fullscreen--bottom-right.header--fullscreen-showed .header__overlay,
.header.header--fullscreen--bottom-right.header--fullscreen-showed .header__sections-container {
	opacity: 1;
	visibility: visible; }

.header.header--fullscreen--top-left.header--fullscreen-showed .header__sections-container, .header.header--fullscreen--top-right.header--fullscreen-showed .header__sections-container, .header.header--fullscreen--bottom-left.header--fullscreen-showed .header__sections-container, .header.header--fullscreen--bottom-right.header--fullscreen-showed .header__sections-container {
	transition-delay: .5s; }

.header.header--fullscreen--top-left .container, .header.header--fullscreen--top-right .container, .header.header--fullscreen--bottom-left .container, .header.header--fullscreen--bottom-right .container {
	width: 100%; }

.header.header--fullscreen--top-left .navbar, .header.header--fullscreen--top-right .navbar, .header.header--fullscreen--bottom-left .navbar, .header.header--fullscreen--bottom-right .navbar {
	min-width: 22.85714rem;
	width: 50%;
	margin-left: auto;
	margin-right: auto; }

.header.header--fullscreen--top-left .dropdown-menu, .header.header--fullscreen--top-right .dropdown-menu, .header.header--fullscreen--bottom-left .dropdown-menu, .header.header--fullscreen--bottom-right .dropdown-menu {
	text-align: inherit;
	position: static;
	width: 100%; }

.header.header--fullscreen--top-left .header__overlay {
	-webkit-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-20%, -20%, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(-20%, -20%, 0); }

.header.header--fullscreen--top-left.header--fullscreen-showed .header__overlay {
	-webkit-transform: scale3d(1, 1, 1) translate3d(-20%, -20%, 0);
	transform: scale3d(1, 1, 1) translate3d(-20%, -20%, 0); }

.header.header--fullscreen--top-right .header__overlay {
	left: auto;
	-webkit-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(20%, -20%, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(20%, -20%, 0); }

.header.header--fullscreen--top-right.header--fullscreen-showed .header__overlay {
	-webkit-transform: scale3d(1, 1, 1) translate3d(20%, -20%, 0);
	transform: scale3d(1, 1, 1) translate3d(20%, -20%, 0); }

.header.header--fullscreen--bottom-left .header__overlay {
	top: auto;
	-webkit-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-20%, 20%, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(-20%, 20%, 0); }

.header.header--fullscreen--bottom-left.header--fullscreen-showed .header__overlay {
	-webkit-transform: scale3d(1, 1, 1) translate3d(-20%, 20%, 0);
	transform: scale3d(1, 1, 1) translate3d(-20%, 20%, 0); }

.header.header--fullscreen--bottom-right .header__overlay {
	top: auto;
	left: auto;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(20%, 20%, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(20%, 20%, 0); }

.header.header--fullscreen--bottom-right.header--fullscreen-showed .header__overlay {
	-webkit-transform: scale3d(1, 1, 1) translate3d(20%, 20%, 0);
	transform: scale3d(1, 1, 1) translate3d(20%, 20%, 0); }

/*------------------------------------
  Side Header
------------------------------------*/
/* Common styles of Side Header */
body[class*="body--header-side"] .header.header--side {
	position: fixed;
	top: 0;
	height: 100%;
	width: 21.42857rem; }

body[class*="body--header-side"] .header.header--side .navbar {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column; }

body[class*="body--header-side"] .header.header--side .navbar .container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column; }

body[class*="body--header-side"] .header.header--side .navbar .navbar-collapse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column; }

body[class*="body--header-side"] .header.header--side .navbar .navbar-nav {
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 0 !important;
	margin-right: 0 !important; }

body[class*="body--header-side"] .header.header--side .header__sections-container {
	height: 100%; }

body[class*="body--header-side"] .header.header--side .dropdown-menu {
	top: 0; }

body[class*="body--header-side"] .header.header--side .mCSB_container,
body[class*="body--header-side"] .header.header--side .mCustomScrollBox {
	overflow: visible; }

/* Overlay */
.header--side .header__overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 2000%;
	opacity: 0;
	visibility: hidden; }

body[class*="body--header-side"].body--header-side-opened .header__overlay {
	opacity: 1;
	visibility: visible; }

.body--header-side-static-left .header--side .dropdown-menu, .body--header-side-overlay-left .header--side .dropdown-menu, .body--header-side-push-left .header--side .dropdown-menu {
	left: 100%;
	margin-left: 1.07143rem; }

.body--header-side-static-left .header--side .true-menvertical .true-mega-menu,
.body--header-side-static-left .header--side .true-menvertical .true-sub-menu, .body--header-side-overlay-left .header--side .true-menvertical .true-mega-menu,
.body--header-side-overlay-left .header--side .true-menvertical .true-sub-menu, .body--header-side-push-left .header--side .true-menvertical .true-mega-menu,
.body--header-side-push-left .header--side .true-menvertical .true-sub-menu {
	margin-left: 1.07143rem; }

.body--header-side-static-left .header--side .true-menvertical .true-mega-menu .true-mega-menu,
.body--header-side-static-left .header--side .true-menvertical .true-mega-menu .true-sub-menu,
.body--header-side-static-left .header--side .true-menvertical .true-sub-menu .true-mega-menu,
.body--header-side-static-left .header--side .true-menvertical .true-sub-menu .true-sub-menu, .body--header-side-overlay-left .header--side .true-menvertical .true-mega-menu .true-mega-menu,
.body--header-side-overlay-left .header--side .true-menvertical .true-mega-menu .true-sub-menu,
.body--header-side-overlay-left .header--side .true-menvertical .true-sub-menu .true-mega-menu,
.body--header-side-overlay-left .header--side .true-menvertical .true-sub-menu .true-sub-menu, .body--header-side-push-left .header--side .true-menvertical .true-mega-menu .true-mega-menu,
.body--header-side-push-left .header--side .true-menvertical .true-mega-menu .true-sub-menu,
.body--header-side-push-left .header--side .true-menvertical .true-sub-menu .true-mega-menu,
.body--header-side-push-left .header--side .true-menvertical .true-sub-menu .true-sub-menu {
	margin-left: 0; }

.body--header-side-static-left .header--side .true-menvertical.true-rtl .true-mega-menu,
.body--header-side-static-left .header--side .true-menvertical.true-rtl .true-sub-menu, .body--header-side-overlay-left .header--side .true-menvertical.true-rtl .true-mega-menu,
.body--header-side-overlay-left .header--side .true-menvertical.true-rtl .true-sub-menu, .body--header-side-push-left .header--side .true-menvertical.true-rtl .true-mega-menu,
.body--header-side-push-left .header--side .true-menvertical.true-rtl .true-sub-menu {
	margin-left: 0;
	margin-right: 1.07143rem; }

.body--header-side-static-left .header--side .true-menvertical.true-rtl .true-mega-menu .true-mega-menu,
.body--header-side-static-left .header--side .true-menvertical.true-rtl .true-mega-menu .true-sub-menu,
.body--header-side-static-left .header--side .true-menvertical.true-rtl .true-sub-menu .true-mega-menu,
.body--header-side-static-left .header--side .true-menvertical.true-rtl .true-sub-menu .true-sub-menu, .body--header-side-overlay-left .header--side .true-menvertical.true-rtl .true-mega-menu .true-mega-menu,
.body--header-side-overlay-left .header--side .true-menvertical.true-rtl .true-mega-menu .true-sub-menu,
.body--header-side-overlay-left .header--side .true-menvertical.true-rtl .true-sub-menu .true-mega-menu,
.body--header-side-overlay-left .header--side .true-menvertical.true-rtl .true-sub-menu .true-sub-menu, .body--header-side-push-left .header--side .true-menvertical.true-rtl .true-mega-menu .true-mega-menu,
.body--header-side-push-left .header--side .true-menvertical.true-rtl .true-mega-menu .true-sub-menu,
.body--header-side-push-left .header--side .true-menvertical.true-rtl .true-sub-menu .true-mega-menu,
.body--header-side-push-left .header--side .true-menvertical.true-rtl .true-sub-menu .true-sub-menu {
	margin-left: 0;
	margin-right: 0; }

.body--header-side-static-left {
	margin-left: 21.42857rem; }

.body--header-side-static-left .header--side {
	right: auto;
	left: 0; }

.body--header-side-static-right {
	margin-right: 21.42857rem; }

.body--header-side-static-right .header--side {
	left: auto;
	right: 0; }

.body--header-side-overlay-left .header--side, .body--header-side-push-left .header--side {
	right: auto;
	left: -21.42857rem; }

.body--header-side-overlay-left .header--side .header__overlay, .body--header-side-push-left .header--side .header__overlay {
	left: 100%; }

.body--header-side-overlay-left.body--header-side-opened .header--side, .body--header-side-push-left.body--header-side-opened .header--side {
	left: 0; }

.body--header-side-push-left.body--header-side-opened {
	margin-left: 21.42857rem; }

.body--header-side-overlay-right .header--side, .body--header-side-push-right .header--side {
	left: auto;
	right: -21.42857rem; }

.body--header-side-overlay-right .header--side .header__overlay, .body--header-side-push-right .header--side .header__overlay {
	right: 100%; }

.body--header-side-overlay-right.body--header-side-opened .header--side, .body--header-side-push-right.body--header-side-opened .header--side {
	right: 0; }

.body--header-side-push-right.body--header-side-opened {
	margin-right: 21.42857rem; }

.body--header-side-static-right .header--side .dropdown-menu, .body--header-side-overlay-right .header--side .dropdown-menu, .body--header-side-push-right .header--side .dropdown-menu {
	left: auto;
	right: 100%;
	margin-right: 1.07143rem; }

.body--header-side-static-right .header--side .true-menvertical .true-mega-menu,
.body--header-side-static-right .header--side .true-menvertical .true-sub-menu, .body--header-side-overlay-right .header--side .true-menvertical .true-mega-menu,
.body--header-side-overlay-right .header--side .true-menvertical .true-sub-menu, .body--header-side-push-right .header--side .true-menvertical .true-mega-menu,
.body--header-side-push-right .header--side .true-menvertical .true-sub-menu {
	left: auto;
	right: 100%;
	margin-right: 1.07143rem; }

.body--header-side-static-right .header--side .true-menvertical .true-mega-menu .true-mega-menu,
.body--header-side-static-right .header--side .true-menvertical .true-mega-menu .true-sub-menu,
.body--header-side-static-right .header--side .true-menvertical .true-sub-menu .true-mega-menu,
.body--header-side-static-right .header--side .true-menvertical .true-sub-menu .true-sub-menu, .body--header-side-overlay-right .header--side .true-menvertical .true-mega-menu .true-mega-menu,
.body--header-side-overlay-right .header--side .true-menvertical .true-mega-menu .true-sub-menu,
.body--header-side-overlay-right .header--side .true-menvertical .true-sub-menu .true-mega-menu,
.body--header-side-overlay-right .header--side .true-menvertical .true-sub-menu .true-sub-menu, .body--header-side-push-right .header--side .true-menvertical .true-mega-menu .true-mega-menu,
.body--header-side-push-right .header--side .true-menvertical .true-mega-menu .true-sub-menu,
.body--header-side-push-right .header--side .true-menvertical .true-sub-menu .true-mega-menu,
.body--header-side-push-right .header--side .true-menvertical .true-sub-menu .true-sub-menu {
	margin-right: 0; }

.body--header-side-static-right .header--side .true-menvertical.true-rtl .true-mega-menu,
.body--header-side-static-right .header--side .true-menvertical.true-rtl .true-sub-menu, .body--header-side-overlay-right .header--side .true-menvertical.true-rtl .true-mega-menu,
.body--header-side-overlay-right .header--side .true-menvertical.true-rtl .true-sub-menu, .body--header-side-push-right .header--side .true-menvertical.true-rtl .true-mega-menu,
.body--header-side-push-right .header--side .true-menvertical.true-rtl .true-sub-menu {
	margin-right: 0;
	margin-left: 1.07143rem; }

.body--header-side-static-right .header--side .true-menvertical.true-rtl .true-mega-menu .true-mega-menu,
.body--header-side-static-right .header--side .true-menvertical.true-rtl .true-mega-menu .true-sub-menu,
.body--header-side-static-right .header--side .true-menvertical.true-rtl .true-sub-menu .true-mega-menu,
.body--header-side-static-right .header--side .true-menvertical.true-rtl .true-sub-menu .true-sub-menu, .body--header-side-overlay-right .header--side .true-menvertical.true-rtl .true-mega-menu .true-mega-menu,
.body--header-side-overlay-right .header--side .true-menvertical.true-rtl .true-mega-menu .true-sub-menu,
.body--header-side-overlay-right .header--side .true-menvertical.true-rtl .true-sub-menu .true-mega-menu,
.body--header-side-overlay-right .header--side .true-menvertical.true-rtl .true-sub-menu .true-sub-menu, .body--header-side-push-right .header--side .true-menvertical.true-rtl .true-mega-menu .true-mega-menu,
.body--header-side-push-right .header--side .true-menvertical.true-rtl .true-mega-menu .true-sub-menu,
.body--header-side-push-right .header--side .true-menvertical.true-rtl .true-sub-menu .true-mega-menu,
.body--header-side-push-right .header--side .true-menvertical.true-rtl .true-sub-menu .true-sub-menu {
	margin-left: 0;
	margin-right: 0; }

.header__section--light .nav-link.t-btn-outline-red:hover{
	color: #FFFFFF !important;
}

.bg-top-bar{
	background-color: #EC1C24;
}

.bg-nav-bar-white {
	background-color: rgba(255, 255, 255, 1) !important;
}

@media (min-width: 992px) {
	.bg-nav-bar-white--lg {
		background-color: rgba(255, 255, 255, 1) !important;
	}
}
